*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    text-align: center;
    color: aliceblue;
    background-color: rgb(29, 6, 79);
}
.container{
    gap: 1.5vmin;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.game{
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
    display: flex;
    flex-wrap: wrap;
    height: 60vmin;
    width: 60vmin;
}
.box{
    border-radius: 15px;
    border: none;
    box-shadow: 5px 10px 25px rgb(254, 5, 26);
    width: 18vmin;
    height: 18vmin;
    font-size: 50px;
    color: rgb(9, 151, 207);
    background-color: rgba(116, 195, 5, 0.603);
}
.reset{
    padding: 20px;
    font-size: 30px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
}
.new-btn{
    padding: 10px;
    font-size: 25px;
    color:  white;
    border: none;
    border-radius: 20px;
    background-color: black;
}
.msg{
    font-size: 30px;
    margin: 15px;
}
.hide{
    display: none;
}
